# Removed the following selector as this hides entries from the menus:
# [data-grammar~=purescript]':

# Main bindings for mac/linux
'.platform-darwin atom-workspace atom-text-editor:not([mini]), .platform-linux atom-workspace atom-text-editor:not([mini])':
    'ctrl-o b':'ide-purescript:build'
    'ctrl-o i':'ide-purescript:add-explicit-import'
    'ctrl-o I':'ide-purescript:add-module-import'
    'ctrl-o /':'ide-purescript:search'
    'ctrl-o p':'ide-purescript:pursuit-search'
    'ctrl-o P':'ide-purescript:pursuit-search-modules'
    'ctrl-o c':'ide-purescript:add-clause'
    'ctrl-o s':'ide-purescript:case-split'

# ctrl-i instead of ctrl-o on windows, due to file dialog on ctrl-o
'.platform-win32 atom-workspace atom-text-editor:not([mini])':
    'ctrl-i b':'ide-purescript:build'
    'ctrl-i i':'ide-purescript:add-explicit-import'
    'ctrl-i I':'ide-purescript:add-module-import'
    'ctrl-i /':'ide-purescript:search'
    'ctrl-i p':'ide-purescript:pursuit-search'
    'ctrl-i P':'ide-purescript:pursuit-search-modules'
    'ctrl-i c':'ide-purescript:add-clause'
    'ctrl-i s':'ide-purescript:case-split'

'.platform-darwin atom-workspace atom-text-editor:not([mini])':
    'ctrl-cmd-l':'ide-purescript:psci-send-line'
    'cmd-alt-enter':'ide-purescript:psci-send-selection'

'.platform-win32 atom-workspace atom-text-editor:not([mini]), .platform-linux atom-workspace atom-text-editor:not([mini])':
    'alt-/':'ide-purescript:psci-send-line'


'.platform-darwin atom-workspace div.psci-pane':
    'cmd-c': 'ide-purescript:psci-copy'

'.platform-win32 atom-workspace div.psci-pane, .platform-linux atom-workspace div.psci-pane':
    'ctrl-c': 'ide-purescript:psci-copy'
